.header {
    grid-area: header;
    background: lightgrey;
}

.loginBlock {
    float: right;
    text-align: center;
    margin: 5px 15px;
}

.loginBlock a {
    color: #fff;
}

.loginBlock a:hover {
    color: #000;
}

.loginBlock img {
    max-width: 30px;
    display: inline-block;
}

.loginBlock h5 {
    margin: 0;
    display: inline-block;
}
